#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 30px;
  background-color: rgb(255, 255, 255);
}

.card {
  will-change: transform;
  transition: transform 200ms;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  overflow: hidden;

  background-color: rgb(236, 235, 235);
  border-radius: 20px;
  width: 140px;

  font-size: 0.8rem;

   border: 2px solid transparent;
  
} 

.card:hover {
  transition: transform 200ms;
  transform: translateY(-7px);

  border-color: rgb(105, 136, 239);
  border-width: 2px;
  border-style: solid;

  
}

.card img {
  object-fit: cover;
  width: 140px;
  margin-bottom: 5px;
}

.card-display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 550px) {
  .card-display {
    grid-template-columns: repeat(3, 1fr);

  }
}

@media screen and (min-width: 950px) {
  .card-display {
    grid-template-columns: repeat(5, 1fr);

  }
}

button {
  min-width: 300px;
  padding: 20px;
}

.scoreBoard {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.ControlBar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}